/build
/build_left
/build_right
/result
/zmk-analog-input-driver
/zmk-pmw3610-driver
/zmk-keyboard-harite-v3
/cirque-input-module
/zmk
/zephyr
/modules
/.west
/release
/bootloader
/tools
/.direnv
.DS_Store
