#include <physical_layouts.dtsi>

/ {
    harite_v3_layout: harite_v3_layout {
        compatible = "zmk,physical-layout";
        display-name = "Harite v3";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs  100  100   100   0       0     0     0>
            , <&key_physical_attrs  100  100   400   0       0     0     0>
            , <&key_physical_attrs  100  100   700   0       0     0     0>
            , <&key_physical_attrs  100  100  1000   0       0     0     0>
            , <&key_physical_attrs  100  100  1400   0       0     0     0>
            , <&key_physical_attrs  100  100  1700   0       0     0     0>
            , <&key_physical_attrs  100  100  2000   0       0     0     0>
            , <&key_physical_attrs  100  100  2300   0       0     0     0>
            , <&key_physical_attrs  100  100   0   100       0     0     0>
            , <&key_physical_attrs  100  100   200   100       0     0     0>
            , <&key_physical_attrs  100  100   300   100       0     0     0>
            , <&key_physical_attrs  100  100   500   100       0     0     0>
            , <&key_physical_attrs  100  100   600   100       0     0     0>
            , <&key_physical_attrs  100  100   800   100       0     0     0>
            , <&key_physical_attrs  100  100   900   100       0     0     0>
            , <&key_physical_attrs  100  100  1100   100       0     0     0>
            , <&key_physical_attrs  100  100  1300   100       0     0     0>
            , <&key_physical_attrs  100  100  1500   100       0     0     0>
            , <&key_physical_attrs  100  100  1600   100       0     0     0>
            , <&key_physical_attrs  100  100  1800   100       0     0     0>
            , <&key_physical_attrs  100  100  1900   100       0     0     0>
            , <&key_physical_attrs  100  100  2100   100       0     0     0>
            , <&key_physical_attrs  100  100  2200   100       0     0     0>
            , <&key_physical_attrs  100  100  2400   100       0     0     0>
            , <&key_physical_attrs  100  100   100   200       0     0     0>
            , <&key_physical_attrs  100  100   400   200       0     0     0>
            , <&key_physical_attrs  100  100   700   200       0     0     0>
            , <&key_physical_attrs  100  100  1000   200       0     0     0>
            , <&key_physical_attrs  100  100  1400   200       0     0     0>
            , <&key_physical_attrs  100  100  1700   200       0     0     0>
            , <&key_physical_attrs  100  100  2000   200       0     0     0>
            , <&key_physical_attrs  100  100  2300   200       0     0     0>
            , <&key_physical_attrs  100  100  1000   400       0     0     0>
            , <&key_physical_attrs  100  100  1400   400       0     0     0>
            , <&key_physical_attrs  100  100   900   500       0     0     0>
            , <&key_physical_attrs  100  100  1100   500       0     0     0>
            , <&key_physical_attrs  100  100  1300   500       0     0     0>
            , <&key_physical_attrs  100  100  1500   500       0     0     0>
            , <&key_physical_attrs  100  100  1000   600       0     0     0>
            , <&key_physical_attrs  100  100  1400   600       0     0     0>
            , <&key_physical_attrs  100  100  1000   700       0     0     0>
            , <&key_physical_attrs  100  100  1400   700       0     0     0>
            , <&key_physical_attrs  100  100   900   800       0     0     0>
            , <&key_physical_attrs  100  100  1100   800       0     0     0>
            , <&key_physical_attrs  100  100  1300   800       0     0     0>
            , <&key_physical_attrs  100  100  1500   800       0     0     0>
            , <&key_physical_attrs  100  100  1000   900       0     0     0>
            , <&key_physical_attrs  100  100  1400   900       0     0     0>
            ;
    };
};