if SHIELD_HARITE_V3_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Harite v3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HARITE_V3_LEFT || SHIELD_HARITE_V3_RIGHT

config ZMK_SPLIT
    default y

endif
